body {
    position: relative;
    flex-direction: row;
    height: 100vh;
    background-color: #F2CCB6;
    overflow-wrap: auto;
    margin: 0%;
    padding: 0%;
    background-image: url('main\ wallpaper.png'); /* Replace with the path to your image */
    background-repeat: cover;
}

.bookshelf {
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    padding:auto;
    flex-wrap: wrap;
}

.book {
    width: 260px;
    height: 360px;
    margin: 10px;
    position: flex;
    
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    align-content: auto;

}

.book img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Change cover image */
.book1:hover img {
    background-image: url("images/The Swan.png");
}

.book2:hover img {
    background-image: url("images/The Rat Catcher.png");
}

.book3:hover img {
    background-image: url("images/Poison.png");
}

.book4:hover img {
    background-image: url("images/Wonderful Story of Henry Sugar.png");
}
.shelf {
    width: 1110px;
    height: 20px;
    background-color: #8B4513;
    border: 2px solid #ad540b; /* Add a border to the box */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    position: flex;
    margin-left: 1%;
}
/* GRID*/
.grid-container {
    display: grid;
    position: relative;
    align-items: baseline;
    justify-content: space-evenly;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    ". . poster racket"
    "camera . poster lamp"
    "camera type . lamp";
}

.grid-item1 {
    grid-area: poster;
    position: relative;
   
}

.poster {
    width: 340px;
    height: auto;

}

.poster:hover {
    animation: wiggle 0.3s;
}

@keyframes wiggle {
    0% { transform: rotate(0); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0); }
}

.grid-item2{
    grid-area: camera;
    position: flex;
}

.camera {
    width: 200px;
    height: auto;
}

.camera:hover {
    animation: flash 0.4s;
}

@keyframes flash {
    0% {
      opacity: 1 #fff; /* Fully visible */
    }
    50% {
      opacity: 0; /* Completely invisible */
    }
    100% {
      opacity: 1 #fff; /* Fully visible again */
    }
  }


.grid-item3 {
    grid-area: type;
    position: relative;

}

.type {
    width: 500px;
    height: auto;
}

.grid-item4 {
    grid-area: lamp;
    position: relative;
}

.lamp {
    width: 390px;
    height: auto;
}

.grid-item5 {
    grid-area: racket;
    position: relative;

}

.racket {
    width: 360px;
    height: auto;
    
}

.racket:hover {
    animation: spin 0.3s;
}

.spin {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  animation: spin 2s linear infinite; /* Use the "spin" animation */
}

@keyframes spin {
    0% {
      transform: rotate(0deg); /* Start with no rotation */
    }
    100% {
      transform: rotate(360deg); /* Rotate 360 degrees for one full spin */
    }
  }


.grid-item img {
    width: 100%;
    height: auto;
    position: relative;
}

.desk {
    width: 100vw;
    height: 20px;
    background-color: #8B4513;
    border: 2px solid #ad540b;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 0;
    position: relative;
}

@media (min-width: 481px) and (max-width: 768px) {
    /* Add specific tablet styles if needed */

    .book {
        width: auto;
        height: 300px;
        margin: 10px;
        position: flex;
        
        transition: transform 0.3s, box-shadow 0.3s;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        align-content: auto;
    }

    .grid-container {
        display: grid;
        position: relative;
        align-items: baseline;
        justify-content: start;
        height: fit-content;
        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "racket poster header"
        "camera poster lamp"
        "camera type lamp";
    }
    
    .grid-item1 {
        grid-area: poster;
        position: relative;
       
    }
    
    .poster {
        width: 230px;
        height: auto;
    
    }
    
   
    .grid-item2{
        grid-area: camera;
        position: flex;
    }
    
    .camera {
        width: 120px;
        height: auto;
    }
    
    .grid-item3 {
        grid-area: type;
        position: relative;
        
    
    }
    
    .type {
        width: 247px;
        height: auto;
    }
    
    .grid-item4 {
        grid-area: lamp;
        position: relative;
        margin-right: 50%;
    }
    
    .lamp {
        display:none;
        width: 275px;
        height: auto;
    }
    
    .grid-item5 {
        grid-area: racket;
        position: relative;
    
    }
    
    .racket {
        width: 230px;
        height: auto;
        
    }

    .grid-item img {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .desk {
        width: 100vw;
        height: 20px;
        background-color: #8B4513;
        border: 2px solid #ad540b;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        padding: 0;
        position: relative;
    }

    .shelf {
        width: 420px;
        height: 15px;
        background-color: #8B4513;
        border: 2px solid #ad540b; /* Add a border to the box */
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        position: relative;
   
    }

    
}

@media (min-width: 480px) and (max-width: 767px) {
    /* Add specific tablet styles if needed */

    .book {
        width: auto;
        height: 300px;
        margin: 10px;
        position: flex;
        
        transition: transform 0.3s, box-shadow 0.3s;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        align-content: auto;
    }

    .grid-container {
        display: grid;
        position: relative;
        align-items: baseline;
        justify-content: start;
        height: fit-content;
        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "racket poster header"
        "camera poster lamp"
        "camera type lamp";
    }
    
    .grid-item1 {
        grid-area: poster;
        position: relative;
       
    }
    
    .poster {
        width: 230px;
        height: auto;
    
    }
    
   
    .grid-item2{
        grid-area: camera;
        position: flex;
    }
    
    .camera {
        width: 120px;
        height: auto;
    }
    
    .grid-item3 {
        grid-area: type;
        position: relative;
        
    
    }
    
    .type {
        width: 247px;
        height: auto;
    }
    
    .grid-item4 {
        grid-area: lamp;
        position: relative;
        margin-right: 50%;
    }
    
    .lamp {
        display:none;
        width: 275px;
        height: auto;
    }
    
    .grid-item5 {
        grid-area: racket;
        position: relative;
    
    }
    
    .racket {
        width: 230px;
        height: auto;
        
    }

    .grid-item img {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .desk {
        width: 100vw;
        height: 20px;
        background-color: #8B4513;
        border: 2px solid #ad540b;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        padding: 0;
        position: relative;
    }

    .shelf {
        width: 420px;
        height: 15px;
        background-color: #8B4513;
        border: 2px solid #ad540b; /* Add a border to the box */
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        position: relative;
   
    }

    
}

